<table>
  <tr>
    <td class="profile-info">
      <p class="name">Gerson Vidal Alcantara</p>
      <p class="description">Soy un desarrollador de software con experiencia en Java, JavaScript (Node.js), Python y React. Destaco en la resolución de problemas y en la implementación de modelos de machine learning. Comprometido con la mejora continua y la colaboración en entornos ágiles... Y quiero tener cuadritos</p>
    </td>

    <td>
      <img src="https://firebasestorage.googleapis.com/v0/b/mycv-3efa7.appspot.com/o/me3.jpg?alt=media&token=b9ff3456-8b68-4624-af28-12c9fe53fc53" alt=""/>
    </td>

    <td class="right-align">
      <ul>
        <li>grnv34&#64;gmail.com</li>
        <li>2711372964</li>
        <li>Fortin, Veracruz</li>
        <li>&#64;gersonvidal</li>
      </ul>
    </td>
  </tr>
</table>
